{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["yaml"],
        "plugins": ["line-numbers", "show-language"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
